@model Domain.DomainModels.Course

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}

<div class="d-flex flex-column justify-content-center align-items-center mb-4" style="background-position-y:-200px; background-image:url(@Model.CourseImage); height:600px; background-size:cover; background-repeat:no-repeat;">
    <div style="font-size:100px;">@Model.Title</div>
    <p style="font-size:larger;">@Model.Description</p>
    <div style="margin-bottom:5px;">
        <span style="padding:10px;">Duration: @Model.Duration</span>
        <span style="padding:10px;">Level: @Model.Level</span>
        <span style="padding:10px;">Number of students: @Model.Enrollments.Count()</span>
    </div>
    <div>
        <a style="margin:10px;" asp-action="Index" class="btn btn-dark" >Back to List</a>
        <a style="margin:10px;" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-dark">Edit</a>
        <a style="margin:10px;" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-dark">Delete</a>
    </div>
</div>

@if (ViewBag.AlreadyInstructing)
{
    <div>
        <h3 class="text-center">You are already instructing this course! Do you wan't to remove yourself?</h3>
        <a class="btn btn-outline-danger form-control mb-2 ms-2" asp-action="RemoveInstructor" asp-route-courseId="@Model.Id">Remove</a>
    </div>
}
else
{
    <div>
        <a style="font-size:larger;" class="btn btn-success form-control mb-2" asp-action="AddInstructor" asp-route-id="@Model.Id">Instruct this course</a>
    </div>
}

<h1 class="text-center mt-5">Enrolled students</h1>

@foreach (var enrollment in Model.Enrollments)
{
    var student = enrollment.Student;

    if (i % 4 == 0)
    {
        @:<div class="row mb-5">
    }
    <div class="col-3">
        <div class="card" style="width: 18rem; border:none;">
            <img src="@student.ProfilePicture" class="card-img-top rounded-circle" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title">@student.FirstName @student.LastName</h5>
                <p class="card-text">@student.Index</p>
                <a asp-controller="Students" asp-action="Details" asp-route-id="@student.Id" class="btn btn-outline-dark form-control">Details</a>
            </div>
        </div>       
    </div>
    if(i%4==3){
        @:</div>
    }
}
