@model Domain.DomainModels.Student

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div class="row">
    <div class="col-3"></div>
    <div class="col-3">
        <img style="height:200px;" src="@Model.ProfilePicture" />
    </div>
    <div class="col-3">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@Model.Index</li>
            <li class="list-group-item">@Model.FirstName @Model.LastName</li>
            <li class="list-group-item">@Model.Email</li>
            <li class="list-group-item">@Model.DateEnrolled</li>
            <li class="list-group-item">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a class="btn btn-dark" asp-action="Index">Back to List</a>
                </form>
            </li>
        </ul>
    </div>
    <div class="col-3"></div>
</div>

    
