@model List<Domain.DomainModels.Student>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center mb-4">Students</h1>

<p>
    <a class="btn btn-outline-success btn-lg form-control" asp-action="Create">Create New Student</a>
</p>
@for (int i= 0;i < Model.Count();i++)
{
    var student = Model[i];
    if (i % 4 == 0)
    {
        @:<div class="row mb-5">
    }
    <div class="col-3">
        <div class="card" style="width: 18rem; border:none;">
            <img src="@student.ProfilePicture" class="card-img-top rounded-circle" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title">@student.FirstName @student.LastName</h5>
                <p class="card-text">@student.Index</p>
                <a asp-controller="Students" asp-action="Details" asp-route-id="@student.Id" class="btn btn-outline-dark form-control">Details</a>
            </div>
        </div>       
    </div>
    if(i%4==3){
        @:</div>
    }
}
