@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
}

@model MVCAdminApp.Models.PartneringAppModels.Books

<h1>Details for @Model.Title</h1>

<div class="row">
    <div class="col-3"></div>
    <div class="col-3">
        <img style="height:200px;" src="@Model.BookImage" />
    </div>
    <div class="col-3">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Title: @Model.Title</li>
            <li class="list-group-item">Author: @Model.Author.FirstName @Model.Author.LastName</li>
            <li class="list-group-item">Publisher: @Model.Publisher.Name</li>
            <li class="list-group-item">Release date:@Model.ReleaseDate</li>
        </ul>
    </div>
    <div class="col-3"></div>
    <a class="btn btn-outline-dark form-control mt-3" asp-action="Index">Back to list</a>
</div>