@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model List<MVCAdminApp.Models.PartneringAppModels.Books>

<div class="container">
    <h1 class="text-center mb-4">Book Store</h1>
    <div class="row">
        <a asp-action="ExportAllBooks" class="btn btn-success form-control mb-3">Export All Books</a>
    </div>

    @for (int i= 0;i < Model.Count();i++)
{
    var book = Model[i];
    if (i % 4 == 0)
    {
        @:<div class="row mb-5">
    }
    <div class="col-3">
        <div class="card" style="width: 18rem; border:none;">
            <img src="@book.BookImage" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title">@book.Title</h5>
                <p class="card-text">@book.Author.FirstName @book.Author.LastName</p>
                <p class="card-text">Published by: @book.Publisher.Name</p>
                <p class="card-text">Released on: @book.ReleaseDate</p>
                <a asp-controller="PartneringApp" asp-action="Details" asp-route-id="@book.Id" class="btn btn-outline-dark form-control">Details</a>
                <a asp-controller="PartneringApp" asp-action="PrintBookDetails" asp-route-Id="@book.Id" class="btn btn-outline-dark form-control mt-2">Print Detials</a>
            </div>
        </div>       
    </div>
    if(i%4==3){
        @:</div>
    }
}

</div>