@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model MVCAdminApp.Models.Student


<h1>Details for @Model.FirstName</h1>

<div class="row">
    <div class="col-3"></div>
    <div class="col-3">
        <img style="height:200px;" src="@Model.ProfilePicture"/>
    </div>
    <div class="col-3">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@Model.Index</li>
            <li class="list-group-item">@Model.FirstName @Model.LastName</li>
            <li class="list-group-item">@Model.Email</li>
            <li class="list-group-item">@Model.DateEnrolled</li>
        </ul>
    </div>
    <div class="col-3"></div>
</div>

<div>
    <h5>All Courses for Student @Model.FirstName @Model.LastName</h5>
</div>

@for (int i = 0; i < Model.Enrollments.Count(); i++)
{
    var item = Model.Enrollments.ElementAt(i).Course;
    if (i % 4 == 0)
    {
        @:<div class="row mb-5">
    }
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img src="@item.CourseImage" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <p class="card-text">@item.Description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Duration: @item.Duration min</li>
                <li class="list-group-item">Level: @item.Level</li>
            </ul>
        </div>        
    </div>
    if(i%4==3){
        @:</div>
    }
}
