@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<MVCAdminApp.Models.Student>

<h1 class="text-center mb-4">Students</h1>

<a asp-action="ExportStudents" class="btn btn-success form-control mb-3">Export All Students</a>

@for (int i= 0;i < Model.Count();i++)
{
    var student = Model[i];
    if (i % 4 == 0)
    {
        @:<div class="row mb-5">
    }
    <div class="col-3">
        <div class="card" style="width: 18rem; border:none;">
            <img src="@student.ProfilePicture" class="card-img-top rounded-circle" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title">@student.FirstName @student.LastName</h5>
                <p class="card-text">@student.Index</p>
                <a asp-controller="Students" asp-action="Details" asp-route-id="@student.Id" class="btn btn-outline-dark form-control">Details</a>
                <a asp-action="CreateInvoice" asp-route-Id="@student.Id" class="btn btn-outline-dark form-control mt-2">Create Invoice</a>
            </div>
        </div>       
    </div>
    if(i%4==3){
        @:</div>
    }
}